<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/banner4img.css">
</head>
<body>
    <div class="header">
        <h1 class="titulos">REGÍSTRATE EN COFFEE LABERINTO</h1>
    </div>

    <div class="pricing-table">
        <!-- Plan Bronce -->
        <div class="pricing-card bronze">
            <h2>PLAN BRONCE</h2>
            <p class="subtitle">BÁSICO</p>
            <div class="price">
                <span class="currency">$</span>100.000
            </div>
            <ul class="features">
                <li><i class="check-icon">✔</i> Acceso directo a su local virtual</li>
                <li><i class="check-icon">✔</i> Una actualización quincenal</li>
                <li><i class="check-icon">✔</i> Distintivo empresa incluyente</li>
            </ul>
           
        </div>

        <!-- Plan Plata -->
        <div class="pricing-card silver">
            <h2>PLAN PLATA</h2>
            <p class="subtitle">INTERMEDIO</p>
            <div class="price">
                <span class="currency">$</span>150.000
            </div>
            <ul class="features">
                <li><i class="check-icon">✔</i> Acceso directo a su local virtual</li>
                <li><i class="check-icon">✔</i> Una actualización semanal</li>
                <li><i class="check-icon">✔</i> Distintivo empresa incluyente</li>
            </ul>
        </div>

        <!-- Plan Oro -->
        <div class="pricing-card gold">
            <h2>PLAN ORO</h2>
            <p class="subtitle">PREMIUM</p>
            <div class="price">
                <span class="currency">$</span>500.000
            </div>
            <ul class="features">
                <li><i class="check-icon">✔</i> Acceso directo a su local virtual</li>
                <li><i class="check-icon">✔</i> Dos actualizaciones semanales</li>
                <li><i class="check-icon">✔</i> Visualización en nuestras redes sociales</li>
                <li><i class="check-icon">✔</i> Espacio publicitario en la revista Digital Coffee Laberinto temática
                    discapacidad</li>
                <li><i class="check-icon">✔</i> Distintivo empresa incluyente</li>
            </ul>
        </div>
    </div>
</body>
  
</html>
