<nav>
    <ul>
        <li>
            <a href="/">inicio</a>
        </li>
    </ul>
</nav>
<nav>
    <ul>
        <li>
            <a href="/about">acerca de</a>
        </li>
    </ul>
</nav>
<nav>
    <ul>
        <li>
            <a href="/contact">contacto</a>
        </li>
    </ul>
</nav>
<nav>
    <ul>
        <li>
            <a href="/faq">Preguntas frecuentes</a>
        </li>
    </ul>
</nav>

